body {
  margin: 0;
  font-family:'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-style { 
  background-color: rgb(1,32,43,255);
  overflow: auto;
  /*vaiha tekstuuri*/
  background-image: url("/src/img/txtr.png"); 
  background-attachment: fixed;
}