.topnav {
    background-color: rgba(1,32,43,255);
    opacity: 0.9;
    margin: 0;
    padding: 0.6rem;
    width: 100%;
    overflow: hidden;  
    position: fixed;
    top: 0;
}

.topnav a.split {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: bold;
}

.topnav a.split:hover {
    color: rgb(189, 192, 5);
}

.navList{
    margin-right: 3.5rem;
}