.projectintro {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    padding: 50px;
    text-align: left;
    height: 25rem;
    margin-left: 0;
    display: block;
}